<div
  class="btn-group container"
  role="group"
  aria-label="Basic radio toggle button group"
>
  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio1"
    autocomplete="off"
    checked
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio1"
    routerLink="/star-wars-movies/1"
    >Movie 1</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio2"
    autocomplete="off"
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio2"
    routerLink="/star-wars-movies/2"
    >Movie 2</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio3"
    autocomplete="off"
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio3"
    routerLink="/star-wars-movies/3"
    >Movie 3</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio4"
    autocomplete="off"
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio4"
    routerLink="/star-wars-movies/4"
    >Movie 4</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio5"
    autocomplete="off"
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio5"
    routerLink="/star-wars-movies/5"
    >Movie 5</label
  >

  <input
    type="radio"
    class="btn-check"
    name="btnradio"
    id="btnradio6"
    autocomplete="off"
  />
  <label
    class="btn btn-outline-warning"
    for="btnradio6"
    routerLink="/star-wars-movies/6"
    >Movie 6</label
  >
</div>

<router-outlet></router-outlet>
