<div class="container mt-5">
  <div class="card">
    <div class="card-text">
      <img src="../../assets/Star_Wars_Logo.png" alt="star wars logo" /><br />
      <h1>{{ movie.title }}</h1>
      <br />
      <p>
        <strong>Episode</strong>: {{ movie.episode_id }}<br />
        <strong>Director:</strong> {{ movie.director }}<br />
        <strong>Producer:</strong> {{ movie.producer }}<br />
        <strong>Release Date:</strong> {{ movie.release_date }}<br /><br />
        <strong>Opening Crawl:</strong><br />
        {{ movie.opening_crawl }}
      </p>
      <p class="card-text"></p>
    </div>
  </div>
</div>
