* {
    font-family: 'Lato', 'Noto Sans', Helvetica;
    border: 1px solid;
    border-color: red;
}

.navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid;
    border-color: lightgrey;
}

.courses_search,
.getAi_donate_login_signUp {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.courses_search {
    padding: 0px 0px 0px 20px;
}

.getAi_donate_login_signUp {
    padding: 0px 20px 0px 0px;
}

.khanacademy_logo {
    width: 175;
}

a.sign_up,
a.log_in,
a.donate,
a.get_ai_guide {
    margin: 0px 16px;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

img.khan_logo {
    width: 155px;
    height: 60px;
    padding: 0px 80px;
}

div.search_bar_mother {
    margin: 0px 16px;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;   
    height: 40px;
    align-self: center;
    border-radius: 10%;
    background-color: rgb(247, 248, 250);
}

a.search {
    text-decoration: none;
    width: 160px;
    height: 20px;
    padding-left: 10px;
    background-color: rgb(247, 248, 250);
    
}
a.magnifine_glass {
    color: grey;
    background-color: rgb(247, 248, 250);

}

a.courses {
    margin: 0px 16px;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.smiling {
    padding: 30px 20px 10px;
    max-width: 1152px;
}

.smiling_image{
    max-width: 451px;
}

.smiling_text {
    display: inline-block;
}